* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-image: url(/images/background.png);
    background-size: cover;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    font-family: 'Lato', sans-serif;
    color: white;
    justify-content: center;
}

.content {
    text-align: center;
    max-width: 800px;
    
}


.logo {
    padding-bottom: 20px;

}

h1 {
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 20px;
}

h2 {
    color: white;
    font-family: sans-serif;
    padding-bottom: 50px;
    font-weight: 700;
    font-size: 40px;
}

h3 {
    color: white;
    font-family: sans-serif;
    font-size: 25px;
    padding-bottom: 20px;
}

.label-checkbox {
    display: block;
    width: 80%;
    margin: 10px auto;
}

.input-text {
    display: block;
    width: 80%;
    outline: none;
    border: none;
    padding: 16px;
    margin: 0 auto 10px auto;
    border-radius: 6px;
    font-size: 20px;
}

.incricao {
    list-style: none;
}

.inscricao li {
    width: 80%;
    margin: 30px auto;
    background: rgb(35, 93, 216);
    padding: 10px;
    display: block;
    border-radius: 5px;
    border: 5px solid rgb(35, 93, 216);
    color: rgb(54,77,204);
}

.inscricao li a span {
    display: block;
    color: white;
    font-size: 20px;
}

.inscricao li:hover{
    width: 80%;
    margin: 30px auto;
    background: rgb(28, 76, 179);
    padding: 10px;
    display: block;
    border-radius: 5px;
    border: 5px solid rgb(28, 76, 179);
    color: rgb(54,77,204);
}
